body {
  min-height: 2000px;
  padding-top: 70px;
}

.jumbotron{
}

 div {
    border: 1px dotted red;
}

.article {
    height:380px;
    margin-bottom: 60px;
    margin-left: 60px;
   
}

.articlepic {
    float: left;
    margin-right: 15px;
}

.articlebutton {
    margin-bottom: 10px;
}
.articletext {
    border: 1px solid black;
    
}